@media screen and (max-width: 1650px) {
    .presentationM_fb-page {
        padding: 0 20px 0 50px;
    }
}

@media screen and (max-width: 1450px) {
    .presentationM_fb-page {
        grid-template-columns: 25% 70%;
        column-gap: 5%;
        padding: 0 15px 0 20px;
        margin: 0 0 50px 0;
    }

    .Menu_figure_a {
        width: 20%;
    }
}

@media screen and (max-width: 1300px) {
    .presentationM_fb-page {
        grid-template-columns: 28% 65%;
        column-gap: 6%;
        padding: 0 0 0 10px;
    }

    .presentationM p {
        font-size: 2rem;
    }

    .Menu_figure_a {
        width: 25%;
    }
}

@media screen and (max-width: 1120px) {
    .presentationM_fb-page {
        column-gap: 7%;
        padding: 0;
    }
}

@media screen and (max-width: 1100px) {
    .header_container_navbar {
        grid-template-columns: 40px auto 1fr auto;
    }

    .logo {
        width: 200px;
    }

    .navbar {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 1025px) {
    .presentationM_fb-page {
        display: flex;
        padding: 0 15px 0 20px;
    }

    .container_fb-page {
        display: none;
    }

    .Menu_figure_a {
        width: 30%;
    }

    footer {
        justify-content: space-between;
    }

    .contactFB {
        margin-left: 35px;
    }

    .contactTEL {
        margin-right: 35px;
    }
}

@media screen and (max-width: 860px) {
    .navbar {
        font-size: 2rem;
    }

    .presentationM p {
        font-size: 1.5rem;
    }

    .Menu_titre {
        font-size: 2rem;
    }

    .contactFB {
        margin-left: 20px;
    }

    .contactTEL {
        margin-right: 20px;
    }
}

@media screen and (max-width: 810px) {
    .header_container_navbar {
        grid-template-columns: 20px auto 1fr auto;
    }

    .Menu_figure_a {
        width: 40%;
    }

    footer {
        flex-direction: column;
    }

    .planSite {
        display: flex;
        flex-direction: column;
        order: -1;
        width: 100%;
    }

    .planSite ul {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .contactFB, .contactTEL {
        margin: 10px 0 10px -20px;
    }
}

@media screen and (max-width: 730px) {
    .header_container_navbar {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo.navbar";
    }

    .logo {
        width: 150px;
    }

    .navbar {
        padding: 1.4rem 1rem ;
        font-size: 1.7rem;
    }

    .presentationM p {
        font-size: 1.3rem;
    }

    .Menu_titre {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 615px) {
    .Menu_figure_a {
        width: 65%;
    }
}

@media screen and (max-width: 560px) {
    .header_container_navbar {
        display: flex;
        justify-content: space-around;
    }

    .logo {
        display: none;
    }

    .navbar {
        padding: 1rem ;
    }
}

@media screen and (max-width: 470px) {
    .planSite ul {
        display: block;
        margin-top: 0;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        text-align: center;
        font-size: 1.5rem;
    }

    .presentationM p {
        font-size: 1.2rem;
    }

    .Menu_titre {
        font-size: 1.5rem;
    }

    .Menu_figure_a {
        width: 90%;
    }
}

@media screen and (max-width: 350px) {
    .contactTEL {
        margin-left: 0;
    }

    .contactSpan {
        font-size: 1.9rem;
    }
}